{% extends 'home_base.html' %}
{% load crispy_forms_filters %}
{% block content %}

    <div>
        <div class="h3user">
            <h3> LOGIN </h3>
            <h5>Registrati o Accedi per avere tutte le funzionalità.</h5>
        </div>
    </div>

    <div class="">
        <div class="">
            <ul class="contenitore2">
                <li class="shadow-lg p-3 mb-5 bg-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" class="btn btn-primary btn-lg" value="Login">
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <hr />

    <div class="">
        <div class="">
            <p>
                Non hai ancora un account?
                <a href="{% url 'user-create' %}"> Registrati! </a>
            </p>
        </div>
    </div>

{% endblock content %}