{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'css/favicon.ico' %}" />
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
	<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous">
    </script>
    <a href="{% url 'Watch-Hub-Home' %}">
        <h1>WATCH HUB</h1>
    </a>

    {% block header %}{% endblock %}

    {% block navbar %}{% endblock %}

    {% block search %} {% endblock %}

    {% block content %}{% endblock %}

    {% block infosite %}{% endblock %}

    {% block favorite %}{%  endblock %}

    {% block footer %}{% endblock %}
</body>
</html>